<div ng-cloak ng-app="answer" remove-upper-elems class="container-fluid" style="font-size:145%">
	<div class="container-fluid real-answer-container" ng-controller="answer as answer_scope">
		<div class="container-fluid">
			<div class="left-series">
				<div class="text-center" ng-cloak>
					<span class="series">{{answer_scope.answer.series == 'None'? 
						(answer_scope.language == 'en'? 'All' : 'すべて') :
						answer_scope.answer.series }}</span>
					<br>
					<span class="h6">
						{{ answer_scope.language == 'en'? 'SERIES' : 'シリーズ'}}
					</span>
				</div>
			</div>
			<div class="title-right" title-holder-right ng-cloak>
				<h1 class="text-uppercase" title-right>
					<span ng-show="answer_scope.language =='en'" ng-bind-html=" answer_scope.answer.title"></span>
					<% if @answer.translation_needed =~ /COMPLETE/ %>
					<span ng-hide="answer_scope.language =='en'" ng-bind-html="answer_scope.answer.title_jp"></span>
					<% end %>
				</h1>
			</div>
		</div>
		<% if @answer.translation_needed =~ /COMPLETE/ %>
			<div class="container-more lang-select">
				<img class="pointer English" ng-click="answer_scope.changeLanguage('en')" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAM1BMVEX////MAAHNAQL+/v4CApgAAJgBAZbLAQHOAADNAAT///v9/f/+//3//v/+///OAALLAAPNnw2RAAAAYElEQVQImYWMSQ6EQAwD7azdkAb+/1omjMQVW6pT2YhwDzMbvHKcnPDDN9/MVpWuVYqI5TAYOQcn+RqKgirwGklhZn9E1wxVheP3ITJFrjPnH4Ke9Vj3BwClQ3I8yG/jBm1oA1n6IJS7AAAAAElFTkSuQmCC"> | 
				<img class="pointer Japanese" ng-click="answer_scope.changeLanguage('jp')" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAANCAMAAABxTNVSAAAAM1BMVEX///+/v7/iCRa4goWtJi66kZS4BxK0Y2jv7++5FyDKoaSvNTzNwMGzVFmqBxGgoKCPj48z3lukAAAAP0lEQVQYlWNgxAYYGBkwAbIoIwemKCsLExs7uigzEwhwookyQQAFolxgQW50N/Dw8rEwY3Evdl8gi/JjCQYBAIMdAQwzbOq2AAAAAElFTkSuQmCC">
			</div>
		<% end %>
		<%if @answer.translation_needed == "NO"%>
			<br>
		<% end %>
		<div class="container-more answer-container" ng-init="answer_scope.answer=<%=@answer.pojo2.to_json %>" >
			<div class="clearfix text-uppercase h6 hidden-xs hidden-sm tagline" ng-class="{invisible: answer_scope.absIndex!=1}">
				<strong>
					<span ng-show="answer_scope.language =='en'" ng-bind-html="answer_scope.answer.tagline"></span>
					<% if @answer.translation_needed =~ /COMPLETE/ %>
					<span ng-hide="answer_scope.language =='en'" ng-bind-html="answer_scope.answer.tagline_jp"></span>
					<% end %>
				</strong>
			</div>
			<div class=" container-fluid border-grey">
				<div class="title-bar col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right border-grey container" >
					<div class="img_container pop" ng-repeat="step in answer_scope.answer.steps">
						<img img-height class="img-responsive" ng-class="{'hidden-image': !answer_scope.isCurrentStepIndex($index), 'fading-In':answer_scope.isCurrentStepIndex($index)}" ng-src="{{answer_scope.language == 'en'? step.image : step.image_jp}}">
					</div>
				</div>
				<div class="clearfix text-uppercase h6 hidden-lg hidden-md tagline" ng-class="{hidden: answer_scope.absIndex!=1}">
					<strong>
						<span ng-show="answer_scope.language =='en'" ng-bind-html="answer_scope.answer.tagline"></span>
						<% if @answer.translation_needed =~ /COMPLETE/ %>
						<span ng-hide="answer_scope.language =='en'" ng-bind-html="answer_scope.answer.tagline_jp"></span>
						<% end %>
					</strong>
				</div>
				<div class="steps col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left border-grey container">
					<table class="table">
						<tbody>
							<div class="text-center index-nav">
								<a href="javascript:void(0)" class="arrow fading-In pull-left" ng-click="answer_scope.rotateArr($index-1,answer_scope.absIndex-1)"><i class="fa fa-caret-left white-text fa-2x choose" ></i></a>
								<span class="step-counter" ng-class="{hidden: answer_scope.answer.steps[0].step_type!='Step'}">
									{{answer_scope.absIndex}} / {{answer_scope.answer.steps.length}}
								</span>
								<a href="javascript:void(0)" class="arrow fading-In pull-right" ng-click="answer_scope.rotateArr($index+1,answer_scope.absIndex+1)"><i class="fa fa-caret-right white-text fa-2x choose" ></i></a>
							</div>
							<tr class="step-row pointer" ng-repeat="step in answer_scope.answer.steps" ng-class="{'active_step': answer_scope.currentIndex == $index,'step-row-dashed': answer_scope.isLast(answer_scope.answer.steps,step.true_number+1)}" id="{{'step'+($index+1)}}" ng-click="answer_scope.rotateArr($index,step.true_number+1)" step-height >
								<td class="text-left no-grey border-grey container">
									<strong class="pop-step" ng-if="step.step_type == 'Step'">
										<span>{{answer_scope.language == 'en'? 'STEP' : 'ステップ'}}</span>
										<span>{{step.number}}</span>
									</strong>
									<% if action_name=="edit" %> | 
										<a class="small" href="/steps/{{step.step_id}}/edit/">Edit</a> |
										<a class="small" data-confirm="Are you sure?" data-method="delete" href="/steps/{{step.step_id}}" rel="nofollow">Delete</a>
									<% end %>
									<strong ng-if="step.step_type == 'Caution'">
										<span ng-hide="answer_scope.isCurrentStepIndex($index)"><i class="fa fa-exclamation-triangle"></i></span>
										<span  ng-hide="!answer_scope.isCurrentStepIndex($index)" class="text-center">
											{{answer_scope.language == 'en' ? 'WARNING!' : '警告！'}}
										</span>
									</strong>
									<strong ng-if="step.step_type == 'Information'">
										<span ng-hide="answer_scope.isCurrentStepIndex($index)"><i class="fa fa-info-circle fa-2x"></i></span>
										<span ng-hide="!answer_scope.isCurrentStepIndex($index)"  class="text-center">
											{{answer_scope.language == 'en' ? 'IMPORTANT!' : '重要!'}}
										</span>
									</strong>
									<br>
									<span ng-class="{'hidden': !answer_scope.isCurrentStepIndex($index), 'fading-In':answer_scope.isCurrentStepIndex($index)}" class="step" >
										<span ng-show="answer_scope.language=='en'" ng-bind-html="step.step"></span>
										<% if @answer.translation_needed =~ /COMPLETE/ %>
										<span ng-hide="answer_scope.language=='en'" ng-bind-html="step.step_jp"></span>
										<% end%>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body text-center">
        <img src="" id="imagepreview" class="img-responsive" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>