<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>
<div>
	<%= render 'angular_answer'%>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/answer.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".pop").on("click", function() {
   			$('#imagepreview').attr('src', $(this).find("img").attr('src'));   
   			$('#imagemodal').modal('show'); 
		});
	});
</script>