<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<div ng-app="answer" style="font-size:150%">
	<div class="container-fluid" ng-controller="answer as answer_scope">
		
				
		<div class="container-fluid">
			<div class="left-series" ng-if="answer_scope.answer.series!= 'None'">
				<div class="text-center">
					<span class="h1">{{answer_scope.answer.series}}</span>
					<br>
					<span class="h6">SERIES</span>
				</div>
			</div>
			<div class="title-right">
				<h1 class="text-uppercase">{{answer_scope.answer.title}}</h1>
			</div>
		</div>
		<br><br>
		<div class="container-more answer-container" ng-init="answer_scope.answer = <%= @answer.pojo.to_json %>">
			<div class="clearfix text-uppercase h6 tagline">
				<strong ng-bind-html="answer_scope.answer.tagline"></strong>
			</div>
			<div class=" container-fluid border-grey">
				<div class="title-bar col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right border-grey container" >
					<div class="img_container" ng-repeat="step in answer_scope.answer.steps">
						<img img-height class="img-responsive" ng-class="{'hidden-image': !answer_scope.isCurrentStepIndex($index), 'fading-In':answer_scope.isCurrentStepIndex($index)}" ng-src="{{step.image}}">
					</div>
				</div>
				<div class="steps col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left border-grey container">
					<table class="table">
						<tbody>
							<tr class="step-row pointer" ng-repeat="step in answer_scope.answer.steps" ng-class="{active_step: answer_scope.currentIndex == $index,'step-row-dashed': answer_scope.isLast(answer_scope.answer.steps,step.true_number+1)}" id="{{'step'+($index+1)}}" ng-click="answer_scope.rotateArr($index)" step-height >
								<td class="text-left no-grey border-grey">
									<strong class="pop-step" ng-if="step.step_type == 'Step'">
										<span>STEP </span><span>{{step.number}}</span>
									</strong>
									<strong ng-if="step.step_type == 'Caution'">
										<span ng-hide="answer_scope.isCurrentStepIndex($index)"><i class="fa fa-exclamation-triangle"></i></span>
										<span  ng-hide="!answer_scope.isCurrentStepIndex($index)" class="text-center">WARNING!</span>
									</strong>
									<strong ng-if="step.step_type == 'Information'">
										<span ng-hide="answer_scope.isCurrentStepIndex($index)"><i class="fa fa-info-circle fa-2x"></i></span>
										<span ng-hide="!answer_scope.isCurrentStepIndex($index)"  class="text-center">IMPORTANT!</span>
									</strong>
										<br><span ng-class="{'hidden': !answer_scope.isCurrentStepIndex($index), 'fading-In':answer_scope.isCurrentStepIndex($index)}" class="step" >{{step.step}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="qsee-bottom-right"></div>
<br><br><br>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/answer.js"></script>
<script type="text/javascript">
	$(document).ready(function() {  
		$('body').css('margin-top','0px');
		$('.step').each(function(){
			var content = $(this).text().replace(/\[red\]/g,'<span class="red">').replace(/\[\/red\]/g,'</span>').replace(/\[blue\]/g,'<span class="blue">').replace(/\[\/blue\]/g,'</span>').replace(/\[green\]/g,'<span class="green">').replace(/\[\/green\]/g,'</span>').replace(/\[yellow\]/g,'<span class="yellow">').replace(/\[\/yellow\]/g,'</span>').replace(/\[orange\]/g,'<span class="orange">').replace(/\[\/orange\]/g,'</span>').replace(/\[lgreen\]/g,'<span class="lgreen">').replace(/\[\/lgreen\]/g,'</span>').replace(/\[bold\]/g,'<strong>').replace(/\[\/bold\]/g,'</strong>').replace(/\[i\]/g,'<em>').replace(/\[\/i\]/g,'</em>').replace(/\[u\]/g,'<u>').replace(/\[\/u\]/g,'</u>').replace(/\[br\]/g,'<br>').replace(/\[note\]/g,'<div class="inst information_new"><i class="pull-left fa fa-3x fa-info-circle"></i><span information_text>').replace(/\[\/note\]/g,'</span></div>').replace(/\[cat\]/g,'<div class="inst cautiondiv_new"><i class="pull-left fa fa-3x fa-exclamation-triangle"></i>').replace(/\[\/cat\]/g,'</div>').replace(/\[p\]/g,'<p class="clear inst lead">').replace(/\[\/p\]/g,'</p>');
		$(this).html(content)
		})
	});
</script>