<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>
<div ng-app="answer">
	<%= render 'angular_answer'%>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/answer.js"></script>