<div ng-app="answer" class="container" ng-controller="answer as answer_scope">
	<%= link_to "Back", :back%> |
	<%= link_to "Edit", edit_answer_path(@answer)%> |
	<%= link_to "Preview", angular_path(@answer)%>
	<br><br>
	<div style="margin:0;padding:0" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="input-group">
			<input class="form-control" type="text" ng-model="answer_scope.a_id">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"ng-click="answer_scope.postAnswer('YES',answer_scope.a_id)">Update Answer</button>
			</span>
		</div>
	</div>
	<br><br><br>
	<textarea style="overflow:scroll;width:100%;height:1000px"></textarea>
	<code get-code>
		<%= render 'angular_answer'%>
	</code>
	<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>	
	// <script type="text/javascript" src="/answer.js"></script> -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('textarea').text($('code').html());
		});
		function scrollTop(elemSelector){
		  $('html, body').animate({
		        scrollTop: $(elemSelector).offset().top-80
		    }, 1000)
		};
		scrollTop("body");
	</script>
</div>