<div class="container">
	<%= link_to "Back", :back%> |
	<%= link_to "Edit", edit_answer_path(@answer)%> |
	<%= link_to "Preview", angular_path(@answer)%>
		<pre></pre>
		<code>
			<%= render 'angular_answer'%>
		</code>
	<script type="text/javascript">
		$(document).ready(function(){
			$('pre').text($('code').html());
		});
		function scrollTop(elemSelector){
		  $('html, body').animate({
		        scrollTop: $(elemSelector).offset().top-80
		    }, 1000)
		};
		scrollTop("body");
	</script>
</div>