<br><br><br><br>
<div class="container">
	<% @answers.each do |answer|%>
	<%=link_to answer.title, alt_angular_path(answer)%><% if !answer.rightnow_answer_id.blank?%> | 
	<a href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=answer.rightnow_answer_id%>">RightNow Link</a>
	<% end%>
	<br>
	<% end %>
</div>