<%= render 'partial' %>

<button class="download">download pictures</button>
<script type="text/javascript" src="/code.js"></script>
<script type="text/javascript">
$('a.hideNav').click(function(){
	$('nav').hide();
});
$("body").css('margin-top','0px');
$(".pop").on("click", function() {
   $('#imagepreview').attr('src', $(this).find("img").attr('src')); // here asign the image to the modal when the user click the enlarge link
   
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
   var pic_real_width, pic_real_height;
	// $("<img/>") // Make in memory copy of image to avoid css issues
	//     .attr("src", $('.pop').find("img").attr('src'))
	//     .load(function() {
	//         pic_real_width = this.width;   // Note: $(this).width() will not
	//         pic_real_height = this.height; // work for in memory images.
	//         console.log(pic_real_width);
	//         if(pic_real_width > 1050){
	//         	$('div.modal-content img,div.modal-dialog').width(pic_real_width/1.3);
	//         	$('div.modal-content').width(pic_real_width/1.27);
	//         }
	//         else{
 //  				$('div.modal-content').width(pic_real_width*1.05);
 //  			}
	//     });
   
});
$('button.download').click(function(){
	var imgArray = $('img.img-responsive:not(img.note):not(img.caution):not(img.qcIcon):not(img.qtIcon):not(:last)');
	
        		

	$(imgArray).each(function (i) {
		
        var $this = $(this);
        $this.wrap('<a class="temp" href="' + $this.attr('src') + '" download="'+i+'.png" />');
        $this.click();   
    });
});
</script>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
     	 <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" class="img-responsive" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	