/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* @import 'bootstrap'; */

/*   Global CSS */
body{
	margin-top:20px;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family:"Roboto Condensed";
}
.preview{
	margin-top:90px;
}
a{
	color:black;
}

.navbar-default{
	background-color:#626466;
	border:0;
    box-shadow: 0px 3px 5px #888888;
}

nav ul li a{
	color:white;
}

nav>ul>li:first-of-type{
	margin-top: 7px;
}

.nav-pills > li + li{
	position:absolute;
	right:50px;
    padding-top: 15px;
}
.nav-pills > li:last-of-type{
	margin-right:85px;
}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}

.fading-In,.container:not(ul){
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
	
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition:.5s;
}


.nav > li > a:hover, .nav > li > a:focus{
	background:inherit;
}

ul.nav{
	min-height:57px
}
/* Root Page CSS */


div.signin{
	margin-top:1%;
}
div.divform{
	background-color: #626466;
	padding:2%;
	border-radius:8px;
	box-shadow: 0px 3px 5px #888888;
}

div.new_answer{
	min-height: 100vh;
	padding:90px;
    box-shadow: -3px -1px 5px #888888;
}
div.title{
	width:100%;
	background:#FFC10A;
	line-height: 90%;
}
div.steps-instructions{
	margin-bottom:35px;
}
.answer-title{
	color:white !important;
	/*margin-left:7%;*/
}
.answer-series{
	color:white !important;
	font-weight:200;
	line-height:25%;

}

.edit_form{
	margin-bottom: 15px;
}
.jumbotron{
	padding:0px !important;
}
.fixed{
	position:fixed;
	top:50px;
	right:0px;
	background:white;
}
.img-responsive{
margin:0 auto;	
}
.note, .caution{
	float:left;
}
.answerList{
	font-size:large;
}
/* canvas CSS for uploading images */
.canvas-container{
	display:none !important;
}

#imageCanvas{
	display:none;
}
/* classes for the different step types */
.information,.cautiondiv{
	background:#C6C8CA;
}

/* color classes for coloring fonts */
.red,.NOT.STARTED,.NEED{
	color: #D22128!important;
}
.blue{
	color: blue!important;
}
.green,.COMPLETED,.COMPLETE{
	color: green!important;
}
.yellow,.IN.PROGRESS{
	color: yellow!important;
}
.orange{
	color: orange!important;
}
.lgreen{
	color: #07FF06!important;
}
/* css for text areas for creating steps */

#step_step{
	width:95%;
	height:20em;
}
.clear{
	clear:both;
	display:block;
}
/* css for code spitter outer*/
code{
	display:none;
}
textarea.code{
	width:100%;
	height:1000px;

}

/* color options for code */

.color-options a.bold,a.i,a.u,a.br{
	color:black
}
.color-options a:hover{
	cursor:pointer;
}
.modal-body input{
	width:100%;
}

hr{
	border-top: 10px dotted black;
}
.inline{
	display:inline;
}
.centered{
	margin:0 25%;
}
.centered5{
	margin:0px 14.666666666%;
}
.border-left{
	border-left:1px solid white;
}
.border-top{
	border-top:1px solid white;
}
.border-bottom{
	border-bottom:1px solid lightgrey;
}
.padding{
	padding:25px 0px 30px 0px;
}
.margin{
	margin:25px 0px 30px 0px;
}
.bordered{
	border-top: 3px solid white;
	border-right: 3px solid white;
	border-left: 3px solid white;
	padding:5px;
	background:rgba(255,255,255,.6);
}
.bordered:last-of-type{
	border-bottom:3px solid white;
}
.border-black{
	border:1px solid black;
}
.border-grey{
	border:1px solid  rgb(201, 202, 204);
}

.fixed{
	position:fixed;
	top:55px;
}
.answer_list{
	margin-top:50px;
}
span i.icon.QC,i.icon.QT,i.icon.QS,i.icon.QR{
	color:white;
	background:#626466;
	padding-top:6px;
	padding-bottom:6px;
	margin-right:15px;
}
span i.icon{
	font-style:normal;
}
span i.icon.QC{
	padding-left:4px;
	padding-right:4px;
}
span i.icon.QT{
	padding-left:5px;
	padding-right:5px;
}
span i.icon.None{
	padding-left:20px;
	padding-right:30px;
}

span i.icon.QC:before{
	content:"QC";
}
span i.icon.QT:before{
	content:"QT";
}
span i.icon.QS:before{
	content:"QS";
}
span i.icon.QR:before{
	content:"QR";
}
span.pull-right.btn-group{
	margin-right:-5px;
}
.btn-modified{
	margin-top:-5px;
	padding:5px 5px;
}

.rn_AnswerDetail.answerContainer{
	overflow:hidden;
}
.links{
 padding: 10px 0px 65px 0px;
 font-size: 20px;
 position: fixed;
 width: 100%;
 bottom: -20px;
 left: 0%;
 height: 5px;
 background: lightgrey;
 box-shadow: 0px -2px 3px #888888;
}
.login-btn{
	border: 0;
    background: transparent;
}
span.small a{
	font-weight:500;
}
.edit_answer_links{
	text-overflow: ellipsis;
	display: inline-block;
	width: 392px;
	background: white;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
}
.pointer-hide{
	float:left;
	left:5%;
	position: relative;
}
.pointer-show{
	padding-left: 18px;
    padding-top: 10px;
    float: left;
    left: 0%;
    bottom: 0%;
    box-shadow: 2px -2px 3px #888888;
    position: fixed;
    background: lightgrey;
    font-size: 20px;
    height: 50px;
    width: 100px;
}
.pointer-hide:hover,.pointer-show:hover{
	cursor:pointer;
}
.wrap{
	display:inline-block;
	border:1px solid;
	float:right;
	padding:1px;
}
.lang:first-of-type{
	border-right:1px solid lightgrey;
}

.lang,.trans{
	padding-bottom:15px;
	border-bottom:1px solid lightgrey;
}
.eng-title{
	height:34px;
}
.height{
	height:200px;
}
textarea,input, select{
	z-index:0!important;
}
.pointer{
	cursor:pointer;
	color:black;
}
.pointer:hover{
	text-decoration:underline;
}
.img-container{
	max-height:400px;
}


/* New answer CSS */
.title_bar .icon{
	margin-top:2px;
}
.fixed_nav{
	position: relative;
}
.title_bar{
	
	height:50px;
	right:16px;
	padding-right:16px;
	position:relative;
	width:calc(100% + 32px)
}
.title_bar .icon i{
	font-size: 31px;
}
.answer_container{
	height:550px;
	border:1px solid;
}
.step_counter{
	
    display: block;
    width: 24%;
    left: -15px;
    position: relative;
    text-align: center;
}
.step_container{
	height:153px;
	top:-36px;
	-webkit-overflow-scrolling: touch;    
}
.step_contained{
	overflow:scroll;
	overflow-x:hidden;
}
.img_holder{
	text-align:center;	
	border:1px solid;
	height:325px;
}

.img_container{
	max-height:500px;
	
    vertical-align: middle;
}
.img_container img{
	max-height:496px;
	display:block;
}
.nav_container{
	
	position:relative;
	bottom:0px;
}
.img_height{
	max-height:300px;
}
.arrow_container_new{
	position:absolute;
	bottom:0px;	
}
.arrow:first-of-type{
	position:relative;
	left:-45px;
}
.arrow:last-of-type{
	position:relative;
	right:-45px;
}
.arrow_new:first-of-type{
	position:relative;
	left:-16px;
}
.arrow_new:last-of-type{
	position:relative;
	right:-18px;
}
.cautiondiv_new{
	padding: 7px;
    margin: -5px 5px 0px -10px;
    overflow:hidden;
}
.information_new i{
	position:relative;
	top:7px;
}
.information_new::-webkit-scrollbar,.cautiondiv_new ::-webkit-scrollbar{
	display:none;
}
.centered_text{
	text-align:center;	
}

.left-series{
	background-color: rgb(114, 116, 119);
	color: white;
	font-family:sans-serif;
	float:left;
	width:12%;
	border-bottom-right-radius: 30px;
}
.title-right{
	width:87.5%;
	background-color:rgb(255, 194, 23);
	color:white;
	font-family:'Roboto';
	float:right;
	border-bottom-left-radius: 30px;
	
	
}

@media(min-width:1000px){
	.left-series{
		height:118px;
	}
	.title-right{
		height:118px;
		line-height:118px;
	}
}
.container .table{
	margin-bottom:0px;
}
.title-bar,.container.steps{
	padding:0;
}
.title-bar{
	height:600px;
	position:relative;
	background:#F1F1F1;
}
.hidden-image{
	position:absolute; 
	left:-999em; 
	transition:2s;
	top:0;
}
.active_step{
	background-color: rgb(234, 234, 234);
	transition:.5s;
	min-height:163px !important;
}

.step-row:not(:last-child){
	border-bottom: 2px inset #B9B9B9; 
}
.step-row-dashed{
	border-bottom: 5px dashed #B9B9B9 !important; 	
}
.title-right h1{
	padding: 0% 0% 1% 3%;
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.left-series div{
	padding:10%;
}
.left-series div span:last-of-type{
	display:block;
	margin-top:10px;
	position:relative;
	left:-5px;	
	padding-bottom:5%;
}

.no-grey{
	border-color:transparent !important;
}
.tagline{
	margin-left:15px;
}
.pop-step{
	font-weight:bold;
	font-size:18px;
}
.container-more{
	width:70%;
	margin:0 auto;
}
.container-more.answer-container{
	height:500px;
	position:relative;
}
.container-more.answer-container div div{
	max-height:600px;
}
.steps.container{
	overflow-y:scroll;
	background: #DEDEDE;
}

div[ng-app]{
	position:relative;
}
.steps.container::-webkit-scrollbar {
    width: 1px;
}

.invisible{
	visibility:hidden;
}
.container-fluid.border-grey{
	border:2px solid rgb(201, 202, 204);
}
.qsee-bottom-right{
	position:absolute;
	right:0;
	bottom:0;
	border-top-left-radius: 30px;
	height:118px;
	line-height:118px;
	width:25%;
	background-color:rgb(114, 116, 119);
}
.qsee-bottom-right img{
	max-width:100%;
	height:auto;
}

/* vertical-centering img helper*/
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.step-row.pointer:hover{
	text-decoration:none;
}
.step-row{
	transition:.5s;
	min-height:73px;
	display:block;
}
.right-corner{
	position:absolute;
	right:10px;
}