/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

/*   Global CSS */
body{
	margin-top:90px;
	margin-bottom:20px;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* Root Page CSS */


div.signin{
	margin-top:1%;
}
div.divform{
	background-color: #eeeeee;
	padding:2%;
	border-radius:8px;
}
input#password{
	width:76% !important;
}
input.password{
	min-width:73% !important;
}

div.new_answer{
	border-left: 1px solid lightgrey;
	min-height: 760px;
}
div.title{
	width:100%;
	background:#FFC10A;
	line-height: 90%;
}
div.steps-instructions{
	margin-bottom:35px;
}
.answer-title{
	color:white !important;
	/*margin-left:7%;*/
}
.answer-series{
	color:white !important;
	font-weight:200;
	line-height:25%;

}

.edit_form{
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
}
.jumbotron{
	padding:0px !important;
}
.fixed{
	position:fixed;
	top:50px;
	right:0px;
	background:white;
	border: 1px solid lightgrey;
}
.img-responsive{
margin:0 auto;	
}
.note, .caution{
	float:left;
}
.answerList{
	font-size:large;
}
/* canvas CSS for uploading images */
.canvas-container{
	display:none !important;
}

#imageCanvas{
	display:none;
}
/* classes for the different step types */
.information,.cautiondiv{
	background:#C6C8CA;
}

/* color classes for coloring fonts */
.red{
	color: #D22128!important;
}
.blue{
	color: blue!important;
}
.green{
	color: green!important;
}
.yellow{
	color: yellow!important;
}
.orange{
	color: orange!important;
}
.lgreen{
	color: lightgreen!important;
}
/* css for text areas for creating steps */

#step_step{
	width:95%;
	height:20em;
}
.clear{
	clear:both;
	display:block;
}
/* css for code spitter outer*/
code{
	display:none;
}
textarea.code{
	width:100%;
	height:1000px;

}

/* color options for code */

.color-options a.bold,a.i,a.u,a.br{
	color:black
}
.color-options a:hover{
	cursor:pointer;
}
.modal-body input{
	width:100%;
}

hr{
	border-top: 10px dotted black;
}
.inline{
	display:inline;
}
.fixed{
	position:fixed;
}