/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

/*   Global CSS */
body{
	margin-top:90px;
	margin-bottom:20px;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* Root Page CSS */


div.signin{
	margin-top:1%;
}
div.divform{
	background-color: #eeeeee;
	padding:2%;
	border-radius:8px;
}
input#password{
	width:76% !important;
}
input.password{
	min-width:73% !important;
}
div.answer_list{
	border-bottom: 1px solid lightgrey;
}
div.title{
	width:100%;
	background:#FFC10A;
	line-height: 90%;
}
.square{
	background:#626466;
	margin-right:5%;
}
.answer-title{
	color:white !important;
	margin-left:7%;
}
.answer-series{
	color:white !important;
	font-weight:200;
	line-height:25%;

}
.series{
	color:#C9CACC;
	font-weight:100;
}

.edit_form{
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
}
.jumbotron{
	padding:0px !important;
}
.fixed{
	position:fixed;
	top:50px;
	right:0px;
	background:white;
	border: 1px solid lightgrey;
}
/* canvas CSS for uploading images */
.canvas-container{
	display:none !important;
}

#imageCanvas{
	display:none;
}


/* color classes for coloring fonts */
.red{
	color: #D22128!important;
}